@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh ;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    } 
 } 
  
  
  @media screen and (max-width: 1200px) { /* when screen size is lower than 1200 px the (desktop nav) wont show. instead we want the hamburger menu */
      #desktop-nav {
        display: none;
      }
      #hamburger-nav {
        display: flex;
      }
  
  
    #profile,
    .section-container {
      display: block;
    }
    
    section,
    .section-container {
      height: fit-content; /* Use the available space, but not more than max-content. if there is one, */
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem; /* margin will make it depend on the wideth and the height specified to make it marginally equal on all sides */
    }
   
  }
  
  @media screen and (max-width: 600px) {
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto; /* cuz we want it to be responsive. meaning on any device to be the same, hence the auto property */
      height: 46vw;
      justify-content: center;
    }
    .p1 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
      margin: -5rem;
    }
    #my-cv {
        flex-wrap: wrap;
       margin-left: 13rem;
      }
   
  }
  